In [1]:
from cmschina_tianyan.session import CmsSession
import pandas as pd
dataset = CmsSession.init(appId="cb632213cf764a019b32f8cc9d2040b7", appSecret="b23700b9fbf0090709c7b72ac0fdcb390cd19cc663bcf1c7a07c12b8c32bf377")
data = dataset.get_data(
        '''
        select TRADE_DT from wind_admin.AShareEODDerivativeIndicator limit 10000
        ''')

[2022-09-29T13:49:04.561379+0800] [78541] [INFO] [session.py] [63] PROD Env Init Completed!
[2022-09-29T13:49:04.945511+0800] [78541] [DEBUG] [tianyan_provider.py] [130] retrieve total 10000 rows of data

In [2]:
sql = ''' 
SELECT * FROM quota_01.sh_level2_snapshot limit 2000
'''

sql = ''' 
SELECT * FROM quota_01.sh_level2_tick where security_id ='601336.sh' limit 2000
'''

In [3]:
stock_code = '603355' #上交所

#上交所取数
sql = f''' 
SELECT * 
FROM quota_01.sh_stock_snapshot
where security_id = '{stock_code}' and date_time > 20220927000000 and date_time < 20220928000000
'''

df_sh = dataset.get_data(sql)

df_sh

[2022-09-29T13:49:16.986930+0800] [78541] [DEBUG] [tianyan_provider.py] [130] retrieve total 4218 rows of data

,auto_id,task_id,file_id,security_id,date_time,pre_close_px,open_px,high_px,low_px,last_px,...,etf_sell_number,etf_sell_amount,etf_sell_money,avg_px,close_px,msg_seq_num,sending_time,war_lower_px,trading_phase_code,num_image_status
0,48804174609,1010682,1007698,603355,20220927091512,32.32,0.00,0.00,0.00,0.00,...,0,0,0.0,0.000,0.00,12690,20220927091512,0.0,C111,1
1,48805274139,1010682,1007698,603355,20220927091549,32.32,0.00,0.00,0.00,0.00,...,0,0,0.0,0.000,0.00,13400,20220927091549,0.0,C111,1
2,48805279910,1010682,1007698,603355,20220927091555,32.32,0.00,0.00,0.00,0.00,...,0,0,0.0,0.000,0.00,13494,20220927091555,0.0,C111,1
3,48804227567,1010682,1007698,603355,20220927091607,32.32,0.00,0.00,0.00,0.00,...,0,0,0.0,0.000,0.00,13801,20220927091607,0.0,C111,1
4,48805302452,1010682,1007698,603355,20220927091616,32.32,0.00,0.00,0.00,0.00,...,0,0,0.0,0.000,0.00,14119,20220927091616,0.0,C111,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4213,48815863533,1010682,1007698,603355,20220927150001,32.32,32.53,32.92,31.66,32.92,...,0,0,0.0,32.468,0.00,4017554,20220927150001,0.0,U111,1
4214,48815878627,1010682,1007698,603355,20220927150004,32.32,32.53,32.92,31.66,32.92,...,0,0,0.0,32.468,0.00,4017750,20220927150004,0.0,E110,2
4215,48815896073,1010682,1007698,603355,20220927150006,32.32,32.53,32.92,31.66,32.92,...,0,0,0.0,32.468,32.92,4017820,20220927150007,0.0,E110,2
4216,48815430127,1010682,1007698,603355,20220927150051,32.32,32.53,32.92,31.66,32.92,...,0,0,0.0,32.468,32.92,4018673,20220927150051,0.0,E110,1
4217,48815456252,1010682,1007698,603355,20220927150551,32.32,32.53,32.92,31.66,32.92,...,0,0,0.0,32.468,32.92,4024706,20220927150551,0.0,E110,1

In [6]:
stock_code = '002044' #深交所
stock_code = '300760' #深交所
stock_code = '002145' #深交所

trade_date_list = [20220919,20220920,20220921,20220922,20220923]
trade_date = 20220919
#深交所取数
sql = f''' 
SELECT * 
from quota_01.snap_level_spot 
where security_id = '{stock_code}' AND trade_date = '{trade_date}'
order by orig_time
'''
df_sz = dataset.get_data(sql)
save_path = f'./stock_data/sz_exchange/{stock_code}_{trade_date}.pkl'
df_sz.to_pickle(save_path)
df_sz

[2022-09-29T13:53:47.809945+0800] [78541] [DEBUG] [tianyan_provider.py] [130] retrieve total 4664 rows of data

,auto_id,task_id,file_id,trade_date,orig_time,send_time,recvtime,dbtime,channel_no,security_id,...,offer_px10,bid_px10,offer_size10,bid_size10,num_orders_b1,no_orders_b1,order_qty_b1,num_orders_s1,no_orders_s1,order_qty_s1
0,351899876669,1010489,1007577,20220919,20220919090042000,20220919090043054,20220919090043089,20220919090043090,1012,002145,...,0.00,0.00,0,0,0,0,,0,0,
1,351899897667,1010489,1007577,20220919,20220919090142000,20220919090143055,20220919090143101,20220919090143103,1012,002145,...,0.00,0.00,0,0,0,0,,0,0,
2,351899919147,1010489,1007577,20220919,20220919090242000,20220919090243054,20220919090243099,20220919090243099,1012,002145,...,0.00,0.00,0,0,0,0,,0,0,
3,351899936921,1010489,1007577,20220919,20220919090342000,20220919090343054,20220919090343100,20220919090343101,1012,002145,...,0.00,0.00,0,0,0,0,,0,0,
4,351899957764,1010489,1007577,20220919,20220919090442000,20220919090443055,20220919090443104,20220919090443105,1012,002145,...,0.00,0.00,0,0,0,0,,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4659,351913097052,1010489,1007577,20220919,20220919153042000,20220919153043070,20220919153043085,20220919153043086,1012,002145,...,7.31,7.12,40125,89500,2,2,19824|6700,17,17,5890|2000|5200|5400|12400|200|1200|1000|10100|...
4660,351913116489,1010489,1007577,20220919,20220919153142000,20220919153143070,20220919153143084,20220919153143085,1012,002145,...,7.31,7.12,40125,89500,2,2,19824|6700,17,17,5890|2000|5200|5400|12400|200|1200|1000|10100|...
4661,351913138870,1010489,1007577,20220919,20220919153242000,20220919153243069,20220919153243085,20220919153243086,1012,002145,...,7.31,7.12,40125,89500,2,2,19824|6700,17,17,5890|2000|5200|5400|12400|200|1200|1000|10100|...
4662,351913159203,1010489,1007577,20220919,20220919153342000,20220919153343070,20220919153343086,20220919153343086,1012,002145,...,7.31,7.12,40125,89500,2,2,19824|6700,17,17,5890|2000|5200|5400|12400|200|1200|1000|10100|...
4663,351913181196,1010489,1007577,20220919,20220919153442000,20220919153443069,20220919153443083,20220919153443085,1012,002145,...,7.31,7.12,40125,89500,2,2,19824|6700,17,17,5890|2000|5200|5400|12400|200|1200|1000|10100|...

In [8]:
df_sz_local = pd.read_pickle(save_path)
df_sz_local

,auto_id,task_id,file_id,trade_date,orig_time,send_time,recvtime,dbtime,channel_no,security_id,...,offer_px10,bid_px10,offer_size10,bid_size10,num_orders_b1,no_orders_b1,order_qty_b1,num_orders_s1,no_orders_s1,order_qty_s1
0,351899876669,1010489,1007577,20220919,20220919090042000,20220919090043054,20220919090043089,20220919090043090,1012,002145,...,0.00,0.00,0,0,0,0,,0,0,
1,351899897667,1010489,1007577,20220919,20220919090142000,20220919090143055,20220919090143101,20220919090143103,1012,002145,...,0.00,0.00,0,0,0,0,,0,0,
2,351899919147,1010489,1007577,20220919,20220919090242000,20220919090243054,20220919090243099,20220919090243099,1012,002145,...,0.00,0.00,0,0,0,0,,0,0,
3,351899936921,1010489,1007577,20220919,20220919090342000,20220919090343054,20220919090343100,20220919090343101,1012,002145,...,0.00,0.00,0,0,0,0,,0,0,
4,351899957764,1010489,1007577,20220919,20220919090442000,20220919090443055,20220919090443104,20220919090443105,1012,002145,...,0.00,0.00,0,0,0,0,,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4659,351913097052,1010489,1007577,20220919,20220919153042000,20220919153043070,20220919153043085,20220919153043086,1012,002145,...,7.31,7.12,40125,89500,2,2,19824|6700,17,17,5890|2000|5200|5400|12400|200|1200|1000|10100|...
4660,351913116489,1010489,1007577,20220919,20220919153142000,20220919153143070,20220919153143084,20220919153143085,1012,002145,...,7.31,7.12,40125,89500,2,2,19824|6700,17,17,5890|2000|5200|5400|12400|200|1200|1000|10100|...
4661,351913138870,1010489,1007577,20220919,20220919153242000,20220919153243069,20220919153243085,20220919153243086,1012,002145,...,7.31,7.12,40125,89500,2,2,19824|6700,17,17,5890|2000|5200|5400|12400|200|1200|1000|10100|...
4662,351913159203,1010489,1007577,20220919,20220919153342000,20220919153343070,20220919153343086,20220919153343086,1012,002145,...,7.31,7.12,40125,89500,2,2,19824|6700,17,17,5890|2000|5200|5400|12400|200|1200|1000|10100|...
4663,351913181196,1010489,1007577,20220919,20220919153442000,20220919153443069,20220919153443083,20220919153443085,1012,002145,...,7.31,7.12,40125,89500,2,2,19824|6700,17,17,5890|2000|5200|5400|12400|200|1200|1000|10100|...